   
body{ margin: 0;
    background-color: #F9F3EE;
}
.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #BBB8B5;
}
table
{
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    width: 1050px;
    padding: 5px;
    border-top: 1px solid #97938C;
    border-left: 1px solid#DCD9D3;
    border-right: 1px solid#DCD9D3;
}
table,tr,td{
    border-collapse: collapse;
    border: 1px solid #DCD9D3;
}
thead tr td{
   padding: 10px;
   color: #F5D406;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}
thead tr .one{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .two{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .three{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .four{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .five{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .six{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .seven{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .eight{
    border-right:1px solid #F9F3EE ;
  
}
thead tr .nine{
    border-right: 1px solid #DCD9D3;
  
}

tbody tr .one{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .two{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .three{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .four{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .five{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .six{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .seven{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .eight{
    border-right:1px solid #F9F3EE ;
  
}
tbody tr .nine{
    border-right: 1px solid #DCD9D3;
  
}

tbody tr td{
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*button{
background-color:#f2bb66;
color:#ff;
border*/


button{
	width: 200px;
	color: black;
	font-size: 20px;
	padding: 5px 0;
	background:#fff;
	border:0;
	border-radius:7px;
	outline:none;
	margin-top:30px;
	font-weight:bold;
	/*position:absolute;
	top:600px;*/
	background-color:#f2bb66;
	border:2px solid  #f9004d ;
	}
	/*button:hover{
    background-color: orangered;
    border: 2px solid #f9004d;
	color:white;
	opacity:0.8;
    cursor: pointer;}*/
